@model ProyectoFinal.Models.productos

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Codigo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_producto)
        </dd>

        <dt>
            Fecha Creacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            Fecha de Vencimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_vencimiento)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_producto)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            UD
        </dt>

        <dd>
            @Html.DisplayFor(model => model.udm)
        </dd>

        <dt>
            Costo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            Existencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.existencia)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id=Model.codigo_producto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
